<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="
        http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd"> <!-- bean definitions here -->
         <bean id="productDao" class="laobo.springDemo1.ProductDaoImpl" />
         <bean id="MyAspect" class="laobo.springDemo1.MyAspectXML" />
      <aop:config>
         <aop:pointcut expression="execution(* laobo.springDemo1.ProductDaoImpl.save(..))" id="pointcut1"/>
         <aop:aspect ref="MyAspect">
         		<aop:before method="checkPir" pointcut-ref="pointcut1" />
         </aop:aspect>
      </aop:config>
</beans>